extend layout

block content
  div.container
    div.page-header.text-center
      h1 collabDocs
    div#users.pull-right
        ul
          li user1
          li user2
          li user3
    div.row-fluid
      div.col-md-4#write
        h3 write
        textarea
      div.col-md-6
        h3.text-muted collab
