extends layout

block content
  //- include modal

  script(src="/js/username.js")
  div#screen
    div#notepad
      textarea#textarea
  script(src="/js/bootstrap.min.js")
  script(src="/js/socket.io-client.js")


