body {
  padding: 20px 50px;
  font: 14px/1.5 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Sans-Serif
}

#notepad {
  background-color: #e0e0e0;
  min-height: 600px;
}

#notepad textarea {
  width: 100%;
  min-height: 100%;
  background-color: #c0c0c0;
  overflow: auto;
  outline: none;
  resize: none;
  margin: 0;
  padding: 1%;
  border: none;
  font-family: "Helvetica Neue", "Lucida Grande", sans-serif
}

#users ul {
  list-style-type:none;
}

#users ul li {
  display: inline-block;
  background-color: #f0f8ff;
  padding: 2px;
  margin-left: 5px;
  border: 1px solid #bde0ff;
  border-radius: 5px
}
